[Unit]
Description=Volumio Touchscreen
After=network.target auditd.service

[Service]
ExecStart=/home/volumio/dev/volumio_tft/check_touchscreen.sh
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
